<ion-header>
  <ion-toolbar color="primary">
    <ion-title > Annonce</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card *ngFor="let item of annonce " (click)="openAnnonce(item)">
    <ion-item lines="none" >
      <ion-label>{{ item.title }}</ion-label>
    </ion-item>

    <ion-item lines="none" >
      <ion-label>{{ item.description }}</ion-label>
    </ion-item>

    <ion-item lines="none" >
      <ion-label>{{ item.prix }}</ion-label>
    </ion-item>

    <ion-item lines="none" >
      <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"></ion-img>
    </ion-item>

  </ion-card>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="additems()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>